{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="container">

        <fieldset>
            <legend>Shop Info</legend>

            {{ form_start(form) }}

            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Shop Name :</label>
                <div class="col-lg-10">
                    {{ form_widget(form.shopName) }}
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-lg-2 control-label">Shop Email :</label>
                <div class="col-lg-10">
                    {{ form_widget(form.shopEmail) }}
                </div>
            </div>

            <div class="form-group">
                <label for="tel" class="col-lg-2 control-label">Tel :</label>
                <div class="col-lg-10">
                    {{ form_widget(form.telefon) }}
                </div>
            </div>

            <div class="form-group">
                <label for="address" class="col-lg-2 control-label">Address :</label>
                <div class="col-lg-10">
                    {{ form_widget(form.address) }}
                </div>
            </div>

            <div class="form-group">
                <label for="web" class="col-lg-2 control-label">Web :</label>
                <div class="col-lg-10">
                    {{ form_widget(form.web) }}
                </div>
            </div>

            <div class="form-group">
                <label for="overview" class="col-lg-2 control-label">Overview : </label>
                <div class="col-lg-10">
                    {{ form_widget(form.overview) }}
                </div>
            </div>

            <div class="form-group">
                <label for="payment" class="col-lg-2 control-label">Payment :</label>
                <div class="col-lg-10">
                    {% for pay in form.payment %}
                        <label class="check">
                            {{ form_errors(pay) }}
                            {{ form_widget(pay) }}
                            <span>{{ pay.vars.label }}</span>
                        </label>
                    {% endfor %}

                </div>
            </div>

            <div class="form-group">
                <label for="type" class="col-lg-2 control-label">Type :</label>
                <div class="col-lg-10">
                    {{ form_widget(form.shopType) }}
                </div>
            </div>

            <div class="form-group">
                <label for="suffix" class="col-lg-2 control-label">Suffix :</label>
                <div class="col-lg-10">
                    {{ form_widget(form.suffix) }}
                </div>
            </div>

            <div class="form-group">
                <label for="brand" class="col-lg-2 control-label">Brands :</label>
                <div class="col-lg-10">
                    {% for brand in form.brand %}

                        <div>
                            <label class="col-sm-2 required">{{ loop.index }}</label>
                            {{ form_widget(brand, { 'attr' : { 'class' : 'form-control','placeholder':'商标名，用逗号隔开，例如（brand1,brand2,brand3,..）'} }) }}
                            <span class="help-block">请依次输入经销的品牌，品名之间请用逗号（,）隔开</span>
                        </div>


                    {% endfor %}

                </div>


            </div>

            <div class="form-group">
                <label for="openinghours" class="col-lg-2 control-label">Openning Hours :</label>
                <div class="col-lg-10">
                    {% for open in form.openingHours %}

                        <div>
                            <label class="col-sm-2 required">{{ loop.index }}</label>
                            {{ form_widget(open, { 'attr' : { 'class' : 'col-lg-10','placeholder':'开门时间，上午下午用逗号隔开，例如（8:00-12:00,13:00-20:00）'} }) }}
                        </div>

                    {% endfor %}

                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    {{ form_widget(form.save) }}
                </div>
            </div>


            {{ form_end(form) }}





        </fieldset>



    </div>
{% endblock %}