{% extends 'base.html.twig' %}

{% block content %}
    {{ parent() }}
    <div class="container">
        <h2>Distribution Information</h2>

        {{ form_start(myForm) }}

        <div class="form-group">
            <label for="storeType">Store Type</label>
            {{ form_widget(myForm.type) }}
        </div>

        <div class="form-group">
            <label for="storeSuffix">Store Suffix</label>
            {{ form_widget(myForm.suffix) }}
        </div>

        <div class="form-group">
            <label for="brands">Brands</label>
            {{ form_widget(myForm.brands) }}
        </div>



        {{ form_widget(myForm) }}
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/">
            <button type="button" class="btn btn-danger">Cancel</button>
        </a>
        {{ form_end(myForm) }}


    </div><!-- /.container -->
{% endblock %}

{% block stylesheets %}
{% endblock %}
